<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>AV1 - Tela de Candidatos</title>

        <!-- Fonte Montserrat - Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" th:href="@{/css/home.css}" />
    </head>
    <body>
        <form method="get" th:action="@{/}">
            <label>
                <input type="radio" name="genero" value="" th:checked="${generoselecionado == ''}">
                Todos
            </label>
            <label th:each="g : ${generos}">
                <input type="radio" name="genero" th:value="${g}" th:checked="${g == generoSelecionado}">
                <span th:text="${g}">Genero</span>
            </label>

            <select name="escolaridade">
                <option value="" th:selected="${escolaridadeSelecionada == ''}">Todas</option>
                <option th:each="e : ${escolaridades}"
                        th:value="${e}"
                        th:text="${e}"
                        th:selected="${e == escolaidadeSelecionada}"></option>
            </select>

            <input type="number" name="idadeMin" th:value="${idadeMin}">
            <input type="number" name="idadeMax" th:value="${idadeMax}">

        </form>

        <article class="card-candidato" th:each="cand : ${candidatos}">
            <img th:src="@{'/images/candidatos/' + ${cand.nomeArquivoFoto}}"
                 th:alt="${cand.nomeUrna}" class="foto-candidato">
            <p th:text="${cand.cargo + ' · ' + cand.siglaPartido}">Cargo · Partido</p>
            <span class="etiqueta"
                  th:classappend="${cand.genero == 'FEMININO' ? 'etiqueta-f' : (cand.genero == 'MASCULINO'
                  ? 'etiqueta-m' : '')}"
                  th:text="${cand.genero}">Gênero</span>
            <span class="etiqueta etiqueta-idade" th:if="${cand.idade > 0}"
                th:text="${cand.idade + 'anos'}">00 anos</span>
            <p th:if="${cand.grauInstituicao != null and cand.grauInstrucao != '#NULO' and
            !cand.grauInstituicao.isBlank()}"
               th:text="${cand.grauInstituicao}">Escolaridade</p>
        </article>
    </body>
</html>